@model IEnumerable<AlwayEncryptedSample.Models.ColumnInfo>

@{
    ViewBag.Title = "Column Info (DB Internals)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Column Information</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FQTN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColumnType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nullable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EncryptionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneratedAlways)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
        <tr class="@(item.EncryptionType == "" ? String.Empty : "active")">
            <td>
                @Html.DisplayFor(modelItem => item.FQTN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nullable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncryptionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratedAlways)
            </td>
        </tr>
    }

</table>
