@model IEnumerable<AlwaysEncryptedSample.Models.CreditCard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <p>
        @Html.ActionLink("Import Credit Cards", "Import")
    </p>
} 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Network.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Network.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CreditCardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CreditCardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CreditCardId })
        </td>*@
    </tr>
}
</table>
